/* Core Styles */
:root {
    --shadow: 0 1px 5px rgba(206, 215, 228, 0.8);
    --text-shadow: 0 2px 5px rgba(6, 135, 240, 0.8);
}

body {
    background-color: #14141bf6;
    font-family: 'Netron', sans-serif;
    font-size: clamp(1.3rem, 2.5vw, 2.2rem);
    color: rgb(253, 252, 252);
    max-width: 1920px;
    margin: auto;
    padding: 0;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: var(--text-shadow);
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    box-shadow: var(--shadow);
}


/* Fonts */

@font-face {
    font-family: "Allerta Stencil";
    src: url(../fonts/AllertaStencil-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Netron";
    src: url(../fonts/Netron.ttf) format('truetype');
}

/* Styling on images and headers */

.full-img {
    padding: 0.7em;
}

.full-img img:hover {
    opacity: 0.70;
}

.heading {
    margin: 20px 0px;
    width: 100%;
    box-shadow: var(--shadow);
    max-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TIMER */
.countdown-timer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin: 30px 0px;
    text-align: center;
    font-size: 20px;
    text-shadow: var(--text-shadow);
}

.item {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.event-end {
    /* Styles text when an item's timer hits 0 */
    color: rgb(238, 10, 10);
    text-shadow: 0 2px 5px rgb(15, 1, 1);
}

/* BANNER */
.website-banner {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.website-text {
    font-size: clamp(0.5rem, 0.8rem, 1.2rem);
    text-align: center;
}

/* Server Info */
.server {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0px;
    font-family: "Allerta Stencil", sans-serif;
}

.server-item {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    text-align: left;
}

.countdown-server-container {
    display: grid;
    grid-template-columns: 120px 40px 40px 40px;
    align-items: flex-start;
}

/* MAIN EVENT */

.main-event {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    padding-top: 0;
}

/* Ongoing Rate Up */

.rate-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.rate-up,
.rate-wrap .heading {
    max-width: 490px;
}

.rate-wrap .heading {
    margin-bottom: 10px;
}

.rate-wrap .item {
    margin-bottom: -10px;
}

.active-banner {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: var(--shadow);
}

/* Skins */

.skin {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.skin-container {
    display: flex;
    flex-direction: column;
}

.skin-item {
    max-width: 1200px;
}

.doll-skins {
    display: flex;
    flex-flow: wrap;
    max-width: 1200px;
    justify-content: space-around;
}

.doll-skins h3,
.doll-skins h4 {
    text-align: center;
    font-size: 0.8em;
}

.doll-item {
    max-width: 110px;
}

.doll-item:hover {
    opacity: 0.5;
}

/* Limited Time Sales */

.limited-sale {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.special-packs {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.limited-sale h1 {
    text-align: center;
}


/* Upcoming Events */
.upcoming-events,
.ongoing-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.event {
    max-width: 1400px;
    margin: 0px 0px 0px 0px;
}

.event .full-img {
    margin-bottom: -40px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 1rem;
    min-height: 100px;
}

/* Media */

@media(min-width: 750px) {
    .countdown-timer-container {
        font-size: 2rem;
    }

    #event-image {
        display: none;
    }

    h2 {
        font-size: 3rem;
    }

    .main-event {
        padding: 0px 0px, 50px, 0px;
    }

    .event-wrap {
        --bg-image: url(../images/main_event/nym_cloud.jpg);
        --bg-image-opacity: 0.9;
        min-height: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
        justify-content: space-around;
        font-size: 3rem;
        position: relative;
        isolation: isolate;
    }

    /* Controls opacity */
    .event-wrap::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        opacity: var(--bg-image-opacity);

        background-image: var(--bg-image);
        background-size: cover;
        background-position: center;
    }

    .event-name {
        display: flex;
        justify-content: center;
        margin-left: 400px;
        margin-top: 100px;
    
    }

    .event-name h1 {
        font-size: 3.9rem;
    }

    .event-wrap .time-remaining {
        margin-bottom: 100px;
    }


    .doll-item {
        max-width: 150px;
    }

    .doll-skins h3,
    .doll-skins h4 {
        font-size: 1em;
    }

    .pack .countdown-timer-container {
        font-size: 1.5rem;
    }

    .pack img {
        max-width: 400px;
        height: auto;
    }
}


@media(min-width: 1000px) {

    /* Timer Styling */
    .time-remaining .countdown-timer-container {
        margin-bottom: -100px;
        font-size: 1.5rem;
    }

    .ongoing-event img {
        max-width: 800px;
    }

    .upcoming-event img {
        max-width: 600px;
    }

    .skin {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .skin-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skin-item .full-img {
        max-width: 800px;
    }

    .doll-skins {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 1.2rem;
        gap: 50px;
    }

}

@media(min-width: 1344px) {

    /* Main Styling */
    body {
        max-width: 1350px;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .time-remaining .countdown-timer-event {
        font-size: 2.5rem;
    }

    .countdown-timer-container {
        font-size: 1.rem;
    }

    /* Main Event & Rate-Up Wrapper */
    .main-event {
        flex-flow: nowrap;
    }

    .event-wrap {
        min-width: 1000px;
        max-height: auto;
    }

    .rate-wrap {
        max-width: 30%;
        margin-left: 20px;
    }

    .rate-wrap .heading {
        margin-top: 0;
    }

    .rate-up {
        flex-direction: column;
    }

    .rate-up img {
        width: 300px;
    }

    .rate-up .countdown-timer-container {
        font-size: 1.2rem;
        width: 290px;
        margin-top: 10px;
    }

    /* Ongoing Events */
    .ongoing-event {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 150px;
    }

    /* Sales */
    .pack {
        margin-top: 40px;
    }

    .event-container {
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 50px;
        width: 100%;
    }

    .skin-container {
        display: flex;
        flex: 1;
        flex-direction: row;
        gap: 10px;
    }

    .skin-container img {
        max-width: 700px;
        max-height: 330px;
    }

    .doll-item {
        max-width: 120px;
        text-align: center;
    }

    .skin {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .skin-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .doll-skins {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 1.2rem;
    }
}